@import './Variables.scss'
@import './Colors.scss'
@import './Mixins.scss'
    
html
    font: 400 1.311475409836066vw/#{$line-height} 'PT Sans', sans-serif

@media screen and (min-width: 1220px)
    html
        font-size: $font-size
@media screen and (max-width: 767px)
    html
        font-size: 10px
