.About{
    margin-bottom: 80px;
    max-width: 1200px;
    margin: auto;
}
.About img{
    width:115px;
    padding: 20px;
}
.About p{
    font-size: 1.2rem;
    line-height: 30px;
}
.aboutBlock1{
    display: flex;
    align-items: center;
    width: 80%;
    padding-bottom: 30px;
    margin-top: 80px;
}
.aboutBlock2{
    display: flex;
    flex-flow: wrap;
    padding-bottom: 50px;
}
.aboutBlock2 > div{
    width: 45%;
    display: flex;
    align-items: center;
    padding: 40px 0;

}
@media(max-width:997px){
    .About{
        width: 95%;
    }
    .aboutBlock2 > div{
        width: 45%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 0px;
    }
    .About p{
        font-size: 1rem;
        line-height: 20px;
    }
    .About img {
        width: 100px;
        padding: 20px;
    }
}
@media(max-width:758px){
    .aboutBlock2 > div{
        width: 95%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media(max-width:576px){
    .aboutBlock1, .aboutBlock2 > div{
        width: 95%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        flex-flow: column;
        margin: auto;
    }
    .aboutBlock1{
        padding: 0;
    }
}