header {
    width: 100%;
    margin: auto;
    background-image: url('./image/TZ Leads_rectangl.svg');
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: top;
}
header> section {
    position: relative;
    max-width: 1200px;
    margin: auto;
    min-height: 600px;
    padding-bottom: 60px;
}

.Header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.Header .TZlogo {
    font-size: 1.25rem
}

.Header nav a {
    margin: 25px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.83rem;
}

.HeadText {
    font-family: 'SF UI Text M';
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
}

.HeadText h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
    margin: 25px;
}

.HeadText small {
    font-size: 0.81rem;
    font-weight: bold;
    font-family: 'SF UI Text L'
}

.HeadText p {
    padding: 0;
    margin: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'SF UI Text L'
}

.contactWrap {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 150px;
    position: relative;
}

.Contact {
    width: 22.7%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'SF UI Text M';
    font-size: 1rem;
    color: rgba(145, 86, 227, 1);
}
.Contact a{
    color: rgba(145, 86, 227, 1);
}

.Contact:hover {
    -webkit-box-shadow: 0px 0px 24px 4px #b485f5;
    -moz-box-shadow: 0px 0px 24px 4px #b485f5;
    box-shadow: 0px 0px 24px 4px #b485f5;
     transition: 0.2s;
}

.imageWrap {
    width: 17%;
    display: inline-block;
    position: absolute;
    top: 55%;
    left:10%;
}

.imageWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HeaderImages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    overflow: hidden;
}
.HeaderImages:first-child{
    width: 15%;
}
.FewCustomers{
    position: relative;
    min-height: 215px;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.FewCustomers h2{
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
    color:#3d4c54;
    padding: 0;
    margin: 0;
}

.HeaderImages>div {
    width: 23%;
}

.HeaderImages>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:1400px){
    .imageWrap{
        left: 13%;
        top: 57%;
    }
    header > section{
        min-height: 485px;
    }
}
@media(max-width:1268px){
    .imageWrap{
        width: 15%;
        left: 16%;
        top: 52%;
    }
}
@media(min-width:1150px) and (max-height:750px){
    header {
        background-position: 0 -100px;
        background-repeat: no-repeat;
    }
    header > section{
        min-height: 485px;
        padding-bottom: 0;
    }
    .Header{
        padding: 20px;
    }
    .contactWrap{
        padding-bottom: 0;
    }
    .imageWrap{
        left: 10%;
        top: 50%;
    }

}
@media(max-width:1100px){
    .imageWrap{
        left: 17%;
        top: 50%;
    }
    header > section{
        padding-bottom: 0;
    }
}
@media(max-width:997px){
    .Header{
        padding: 40px 0;
        flex-flow: column
    }
    header > section{
        background-color: #6200ea;
        height: auto;
    }
    .FewCustomers{
        padding-top: 20px;
    }
    .imageWrap {
        left: 10%;
        top: 65%;
    }

}
@media(max-width:576px){

    .FewCustomers{
        height: auto;
    }
    .FewCustomers h2{
        font-size: 2rem;
    }
    .imageWrap{
        display: none;
    }
    .Contact{
            width: 90%;
            margin: 40px auto;
    }
    .Header nav{
        margin: 40px 0 0 0;
    }
    .HeadText{
        width:90%;
        margin: auto;
        line-height: 1.2;
    }
    .HeadText h1{
        font-size: 2rem;
        margin: 0;
    }
    .HeaderImages div{
        width:30%;
    }
    .contactWrap{
        padding-bottom: 0;
    }
}
