.Leads {
    background-color: #fff;
    color: #3d4c54;
    max-width: 1200px;
    margin: auto;
}

.Leads h2 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center
}

.Leads p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    font-family: 'SF UI Text L'
}

.leadListsContainer {
    display: flex;
    justify-content: space-between;
}

.leadLists {
    width: 30%;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 100px 80px;
}

/**
 * Segments in a circle using CSS3
 * http://stackoverflow.com/q/14184494/1397351
 */

.Pie {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    list-style: none;
    transform: rotate(-90deg);
    top: -25px;
    right: 15px;
}

.Pie::before {
    content: "40 Million US Leads";
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem;
    left: 11%;
    top: 11%;
    border: 10px solid #fff;
    -webkit-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    transform: rotate(90deg);
    z-index: 2;
}

.Slice {
    /* remove slash at the end of this line to see full slice contents */
    overflow: hidden;
    /**/
    position: absolute;
    top: 0;
    right: 0;
    /* add slash at end of this line to show the red outline of the slice *
	outline: solid 1px red; /**/
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.First {
    transform: rotate(-90deg);
    animation: first 1s 1 forwards;
}

.Second {
    transform: rotate(-90deg);
    animation: second 1s 1 forwards;
}

.Third {
    transform: rotate(54deg);
    animation: third 1s 1 forwards;
}

.Fourth {
    transform: rotate(54deg);
    animation: fourth 1s 1 forwards;
}

.Fifth {
    transform: rotate(144deg);
    animation: fifth 1s 1 forwards;
}

.Sixth {
    transform: rotate(144deg);
    animation: sixth 1s 1 forwards;
}

.Slice-contents {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    text-align: center;
    transition: background-color .5s;
}

.Slice:first-child .Slice-contents {
    transform: skewY(0deg)/* unskew slice contents */
    rotate(25deg);
    /* rotate by half the central angle of the slice 
							which is 50deg in this case */
}

.green {
    background: #5db661;
}

.blue {
    background: #6302e8;
}

.lightblue {
    background: #2096f3;
}

@keyframes first {
    from {
        transform: rotate(-90deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes second {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(54deg);
        opacity: 1;
    }
}

@keyframes third {
    from {
        transform: rotate(54deg);
        opacity: 0;
    }
    to {
        transform: rotate(144deg);
        opacity: 1;
    }
}

@keyframes fourth {
    from {
        transform: rotate(144deg);
        opacity: 0;
    }
    to {
        transform: rotate(162deg);
        opacity: 1;
    }
}

@keyframes fifth {
    from {
        transform: rotate(162deg);
        opacity: 0;
    }
    to {
        transform: rotate(252deg);
        opacity: 1;
    }
}

@keyframes sixth {
    from {
        transform: rotate(252deg);
        opacity: 0;
    }
    to {
        transform: rotate(270deg);
        opacity: 1;
    }
}

.employeeDepartment {
    width: 60%;
}

.employeeDepartment h2 {
    width: 300px;
    margin: auto;
    border: 40px solid #5cb660;
    border-radius: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
}
.employeeDepartment .Stats p{
    font-size: 1.3em;
}

.employeeDepartment .btnWrap {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.employeeDepartment .btnWrap>button {
    cursor: pointer;
    width: 125px;
    height: 40px;
    border: 1px solid #d7e8ed;
    background-color: #d7e8ed;
    color: #8895b0;
    font-family: 'SF UI Text M';
    font-size: 0.8rem;
}

.employeeDepartment .btnWrap>.active,button:focus{
    background-color: #fff;
    outline: none;
}
.StatRow1{
    position:relative;
    right:45px;
}
.StatRow2{
    position:relative;
    top:-80px;
}
.Companies {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Companies>div:first-child {
    display: flex;
    align-items: center;
    width: 35%;
}

.Companies>div:first-child .usCompanies {
    width: 280px;
    height: 280px;
    margin-left: auto;
    border-radius: 50%;
    background-image: linear-gradient(to top, #9100f4 37%, #9800f5 25%, #7900ee 48%, #6300ea 53%);
    display: flex;
    align-items: center;
    position: relative;
}

.Companies>div:first-child .usCompanies:before {
    content: "";
    width: 30px;
    height: 30px;
    background: #6200ea;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    right: 0px;
    z-index: 0;
}

.Companies>div:first-child .usCompanies .usCompaniesInside {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    left: 11.5%;
    border: 10px solid #fff;
}

.Companies>div:last-child {
    width: 35%;
    text-align: initial
}

.Transparency {
    width: 76%;
    margin: auto;
    padding-top: 115px;
    padding-bottom: 0;
}
.Transparency h2{
    margin: 10px;
}

.statsWrap {
    position: relative;
    padding-bottom: 60px;
    margin: 50px 0px 0 20px;
}

.statsWrap .Stats {
    width: min-content;
    padding: 10px 30px;
    background-color: #fff;
    margin: 0;
    line-height: 30px;
}

.statsWrap .Stats:nth-child(2) {
    position: absolute;
    float: right;
    top: -70%;
    right: -50%;
}

.statsWrap p {
    font-size: 1.3rem;
}

.figureWrap {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.figureWrap .getLeads {
    font-size: 2.5rem;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #b5deb6 15%, #91cd93 34%, #52b156 56%, #57b35a 15%);
    position: relative;
    
}

.figureWrap .getLeads .getLeadsInside {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    left: 11.5%;
    top: 11.5%;
    border: 10px solid #fff;
}

.figureWrap .getLeads:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 45%;
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    background-color: #52b155;
}
.Spin{
    animation: spin 1s forwards;
}
.Respin{
    animation: respin 1s forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes respin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}

.svgWrap {
    background-image: url('./shape-1.png');
    background-size: 55%;
    background-repeat: no-repeat;
    margin: 100px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.svgWrap ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;

}

.svgWrap .listWrap {
    width: 60%;
}

.svgWrap ul li {
    background-color: #f7f7f7;
    padding: 0 20px;
    box-shadow: 2px 4px 10px;
    position: relative;
    z-index: 1;
}

.svgWrap ul li:not(:first-child) {
    margin: 60px 0 0 0;
}

.listWrap p {
    font-size: 1.5rem;
    line-height: 35px;
}

.svgWrap ul li div {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.svgWrap ul li:first-child {
    width: 100%;
    margin: -60px 0 0 0;
}

.svgWrap ul li:first-child p {
    display: inline-flex;
    flex-flow: column;
    padding: 10px 35px;
}

.svgWrap ul li:nth-child(2) {
    width: 75%;
    padding-bottom: 0;
}

.svgWrap ul li:nth-child(2) div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.svgWrap ul li small {
    margin-top: 20px;
}

.svgWrap ul li:last-child {
    width: 50%;
}

.svgWrap ul li:last-child p {
    display: inline-flex;
    flex-flow: column
}

.svgWrap span {
    color: #4caf50;
    display: block;
    font-weight: bold;
}

.svgWrap small {
    font-size: 1rem;
}

.svgWrap ul li::before {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 2px 1px 10px #000;
    left: -130px;
    background-color: #6200ea;
    border-radius: 50%;
    width: 150px;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    border: 15px solid #f8f6f6;
}

.svgWrap ul li::after {
    content: "";
    position: absolute;
    height: 100%;
    left: -22%;
    top: 0;
    right: 95%;
    border-radius: 50%;
    background: #fff;
    border-right: 2px solid #ccc;
}
.svgWrap ul li:first-child::before {
    content: "20M";
}
.svgWrap ul li:nth-child(2):before {
    content: "15K";
}
.svgWrap ul li:nth-child(3):before {
    content: "10M";
}

@media(min-width:1024px){
    .svgWrap ul li:first-child::before {
        content: "20M";
        left:-125px;
    }
    .svgWrap ul li:first-child::after {
        content: "";
        left:-22%;
    }
    
    .svgWrap ul li:nth-child(2):before {
        content: "15K";
    }
    .svgWrap ul li:nth-child(2):after {
        content: "";
        left:-25%;
    }
    
    .svgWrap ul li:nth-child(3):before {
        content: "10M";
        left:-121px;
    }
    .svgWrap ul li:nth-child(3):after{
        left: -35%;;
        right: 90%;
        border-radius: 50%;
        background: #fff;
        border-right: 2px solid #ccc;
    }
}


@media(max-width:1440px) {
    .listWrap p {
        font-size: 1.5rem;
        line-height: initial;
    }
}

@media(max-width:1200px) {
    .statsWrap .Stats:nth-child(2) {
        right: -30%;
        top: -40%;
    }
    .statsWrap p {
        font-size: 1.3rem;
    }
    .figureWrap .getLeads {
        width: 280px;
        height: 280px;
    }
    .figureWrap .getLeads::after {
        width: 30px;
        height: 30px;
    }
}

@media(max-width:1060px) {
    .svgWrap ul li:first-child p {
        padding: 20px 0;
        display: block;
    }
    .svgWrap {
        background-image: none;
    }
}

@media(max-width:997px) {
    .Leads p,.employeeDepartment .Stats p {
        font-size: 1rem;
    }
    .Leads h2 {
        font-size: 1.5rem;
    }
    .Pie,
    .Companies>div:first-child .usCompanies {
        width: 150px;
        height: 150px;
    }
    .Pie::before {
        width: 50%;
        height: 50%;
        font-size: 1rem;
        border: 20px solid #fff;
    }
    .Companies>div:first-child .usCompanies .usCompaniesInside {
        width: 50%;
        height: 50%;
        font-size: 0.9rem;
        left: 12%;
        top: 11%;
        border: 20px solid #fff;
    }
    .Companies>div:first-child {
        display: flex;
        justify-content: center;
    }
    .Companies>div:first-child .usCompanies:before {
        width: 20px;
        height: 20px;
    }
    .svgWrap {
        margin: 20px;
        justify-content: space-evenly;
    }
    .svgWrap ul li small {
        margin: 0;
    }
    .svgWrap ul li div {
        height: 100px;
    }
    .listWrap p {
        font-size: 1rem;
    }
    .svgWrap ul li::before {
        top: 0;
        font-size: 1.5rem;
        left: -94px;
        width: 100px;
        height: 100%;
    }
    .svgWrap ul li:first-child{
        margin: 20px 0 0 0;
    }
    .svgWrap ul li:not(:first-child){
        margin: 30px 0 0 0;
    }
    .figureWrap{
        padding: 20px;
    }
    .figureWrap .getLeads {
        width: 150px;
        height: 150px;
    }
    .figureWrap .getLeads .getLeadsInside {
        width: 50%;
        height: 50%;
        font-size: 1rem;
        left: 12%;
        top: 11%;
        border: 20px solid #fff;
    }
    .figureWrap .getLeads::after {
        width: 17px;
        height: 17px;
    }
    .statsWrap .Stats{
        line-height: 20px;
    }
    .statsWrap .Stats:nth-child(2) {
        position: absolute;
        float: right;
        top: -55%;
        right: -50%;
    }
}

@media(max-width:758px) {
    .leadListsContainer,.Companies {
        flex-flow: row;
        justify-content: space-evenly;
    }
    .Pie{
        top:initial;
        right:initial;
    }
    .Companies>div:first-child .usCompanies{
        margin-left: 0;
        margin: auto;
    }
    .leadLists,
    .Companies>div:first-child,
    .Companies>div:last-child,.employeeDepartment h2,.svgWrap .listWrap {
        width: 90%;
        margin: auto;
    }
    .employeeDepartment{
        width: 80%;
        margin: auto;
    }
    .StatRow1,.StatRow2{
        position: initial;
    }
    .StatRow1 .Stats, .StatRow2 .Stats{

    }
    .svgWrap {
        display: block;
    }
    .svgWrap ul {
        display: inherit;
    }
    .svgWrap ul li {
        width: 80% !important;
        margin-left: 10% !important;
    }
    .svgWrap ul li:first-child {
        margin-top: 0;
    }
    .svgWrap span {
        margin: 0;
    }
    .svgWrap ul li::before {
        height: 100%;
        left: -80px;
        width: 100px;
        top: 0;
    }
    .svgWrap ul li::after {
       left:-15%;
    }
    .svgWrap ul li div {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
    .figureWrap p {
        padding: 0;
    }
    .figureWrap {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .employeeDepartment .Stats, .statsWrap .Stats{
        width:70%;
        margin: 45px auto;
        float: none;
        position: initial!important;
    }   
    .statsWrap .Stats:nth-child(2){
        top:initial;
        right: initial;
        float: none;
    }
}

@media(max-width:576px) {
    .Companies{
        flex-flow: column;
    }
    .Companies>div:first-child .usCompanies{
        margin: 0;
    }
    .leadLists {
        padding: 0;
    }
    .listWrap p {
        font-size: 1rem;
    }
    .listWrap small {
        font-size: 0.8rem;
    }
    .svgWrap{
        padding-top: 20px;
    }
    .svgWrap ul li:before{
        left:-90px;
    }
    .svgWrap ul li:after{
        left: -31%;
    }
    .statsWrap {
        padding-bottom: 10px;
        margin: 0px 0px 0 0px;
    }
    .employeeDepartment .Stats, .statsWrap .Stats{
        width: 80%;
    }
    .Transparency{
        width: 90%;
        margin: auto;
        padding: 20px;
    }
}

@media(max-width:420px) {
    .leadListsContainer {
        flex-flow: column;
    }
}