.banner_wrap 
    display: flex
    animation: attractAttention 1s ease-out infinite alternate
    transition: 1s ease-out 
    width: calc(100% - 128px)
    min-height: 3rem
    margin: 2rem
    padding: 10px 2rem
    align-items: flex-end
    font-family: 'SF UI Text M'
    font-size: 2.1rem
    line-height: 1
    background-color: #fff
    border: 1px solid $heliotrope
    border-radius: 4px
    box-shadow: 0 0 16px 8px $heliotrope
    cursor: pointer
    color: $electricviolet

@keyframes attractAttention
    0%
        box-shadow: 0 0 16px 8px $heliotrope
    100%
        box-shadow: 0 0 16px 2px $heliotrope
