footer {
    background-color: #6200ea;
    padding: 40px;
}
footer div{
    max-width: 1200px;
    width: 100%;
    margin:auto;
}
footer div .Contact{
    margin: auto;
    width: 20%;
    display: block;
    font-size: 0.81rem;
}
footer p{
    margin: auto;
    width: 45%;
    font-size: 1.2rem;
    text-align: center;
    color:#fff;
    padding: 20px;
}
footer nav{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;   
}
footer nav a{
    text-decoration: none;
    color:#b180f5;
    font-size: 0.8rem;
}
@media(max-width:967px){
    footer div{
        width: 100%;
    }
}
@media(max-width:576px){
    footer div > p{
        padding: 0;
    }
    footer p{
        width: 100%;
    }
    footer div .Contact{
        width: 95%;
        margin: 20px 0;
    }
    footer nav{
        width: 95%;
        padding: 20px 0;
    }
}