.Stats{
    width: 25%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0,0,0,.5);
    padding: 15px;
    margin:  10px 45px;
    cursor: pointer;
}
.active{
    background: #1d0044;
}
@media(max-width:758px){
 
}