
@font-face {
    font-family: 'SF UI Text M' ;
    src: url('./fonts/SF_UI_Display/SFUIDisplay-Regular.woff');
}
@font-face {
    font-family: 'SF UI Text L' ;
    src: url('./fonts/SF_UI_Display/SFUIDisplay-Light.woff');
}
    
body{
    background-color: rgba(0,0,0,.02);
    font-family: 'SF UI Text M';
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}